.Head {
  display: flex;
  background-color: #74b9ff;
  height: 15vh;
  min-height: auto;
  &__title {
    align-self: center;
    padding: 8px 15px;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(178, 190, 195, 0.3);
  }
}
