.Post {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(146, 146, 146, 0.842);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  &__wrapper {
    background-color: rgba(220, 221, 225, 0.774);
    text-align: justify;
    padding: 0.5rem;
  }
  &__title {
    font-size: 1.2rem;
    padding-left: 20px;
  }
}
